<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Failure-transaction</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.4.1/dist/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link rel="stylesheet" href="/css/failure.css">
    <script defer src="https://use.fontawesome.com/releases/v5.0.7/js/all.js"></script>
  </head>
  <body>
           <div class="payment">
                   <i class="fa fa-times-circle fa-4x hello" aria-hidden="true"></i>
                  <h1>Payment Failure</h1>
                  <ul>
                    <li>Go to home page</li>
                    <li>Try-Again</li>
                  </ul>
           </div>
          <a href="/home">Home</a>
  </body>
</html>