<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        button{
            position: absolute;
            top: 42vh;
            left: 44%;
            text-decoration: none;
            border-style: none;
            height: 4rem;
            width: 6rem;
            background-color: rgb(255, 212, 144);
            color: black;
            font-size: 2rem;
        }
        .text{
position: absolute;
            font-size: 5rem;
            color: red;
            top: 30vh;
            left: 20%;
            
        }
        button:hover{
            cursor: pointer;
        }
    </style>
</head>
<body>
<div class="text">
    Equipment not available!

</div>
<form action="/notAvailable" method="post">
<button>Back</button>    
</form>
</body>
</html>