<html>
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, intial-scale=1.0">
<title>review-html</title>
<link rel="stylesheet" href="/css/review.css"/>
<link rel="shortcut icon" href="images/fav-icon.png"/>
<link rel="preconnect" href="https://fonts.gstatic.com">
<link href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">
<script src="https://kit.fontawesome.com/c8e4d183c2.js" crossorigin="anonymous"></script>
</head>
<body>
    <section id="testimonials">
        <div class="testimonial-heading">
            <h1>Reviews</h1>
        </div>
        <div class="testimonial-box-container">
            <div class="testimonial-box">
                <div class="box-top">
                    <div class="profile">
                        <div class="profile-img">
                            <img src="/assets/images/review1.jpg" />
                        </div>
                        <div class="name-user">
                            <strong>rit1</strong>
                            <span>rit1@gmail.com</span>
                        </div>
                    </div>
                    <div class="reviews">
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="far fa-star"></i>
                    </div>
                </div>
                <div class="client-comment">
                    <p>Best place to get all kinds of medical equipments.</p>
                </div>
            </div>
            <div class="testimonial-box">
                <div class="box-top">
                    <div class="profile">
                        <div class="profile-img">
                            <img src="/assets/images/review2.jpg" />
                        </div>
                        <div class="name-user">
                          <strong>rit2</strong>
                          <span>rit2@gmail.com</span>
                        </div>
                    </div>
                    <div class="reviews">
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                    </div>
                </div>
                <div class="client-comment">
                    <p>Trust worthy website</p>
                    <p>Easily able to found the nearest hospital where medical equipments are available.</p>
                </div>
            </div>
            <div class="testimonial-box">
                <div class="box-top">
                    <div class="profile">
                        <div class="profile-img">
                            <img src="/assets/images/review3.jpg" />
                        </div>
                        <div class="name-user">
                          <strong>rit3</strong>
                          <span>rit3@gmail.com</span>
                        </div>
                    </div>
                    <div class="reviews">
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="far fa-star"></i>
                    </div>
                </div>
                <div class="client-comment">
                    <p>I liked the emergency feature of this website in which nearest hospital is suggested where equipments are available.</p>
                </div>
            </div>
            <div class="testimonial-box">
                <div class="box-top">
                    <div class="profile">
                        <div class="profile-img">
                            <img src="/assets/images/review4.jpg" />
                        </div>
                        <div class="name-user">
                          <strong>rit4</strong>
                          <span>rit4@gmail.com</span>
                        </div>
                    </div>
                    <div class="reviews">
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="far fa-star"></i>
                    </div>
                </div>
                <div class="client-comment">
                    <p>I am happy with the equipments and the deal i got from this websites. Speaking with the service team helped me get exactly what i looking for.</p>
                </div>
            </div>
        </div>
    </section>
</body>
</html>